.fondTerrain{
  background-color: #6C0118;
  color: white;
  margin-bottom: 100px;

}
.terrainimage{
  transform: rotate(90deg);
  width: 120vh;
  margin-bottom: -200px;
  margin-top: -300px;
}
.titre{
  text-align: center;
  color:darkred;

}
.terrainbis{
  margin-top: 100px;
  margin-bottom: -50px;

}
.titre1{
  text-align: center;
  margin-bottom: 50px;
}
.titre2{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.titre3{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.logohistoire {
  width: 200px;
  height: 200px;
  margin-top: -30px;
  margin-bottom: 50px;
}
.equipe{
  height: 800px;
  margin-bottom: 200px;
}

.relat{
  position:relative;
}

.legende{
  font-size:0.7rem;
  position:absolute;
  bottom: 5%;
  left: 18%;
}
.fondHistoire{
  background-color: #051937;
  color: white;


}
.fondBureau{
  background-color: #6C0118;
  color: white;
}

.fondEquipe{
  background-color: #051937;
  color: white;

}