
.terrainimage{
  transform: rotate(90deg);
  width: 120vh;
  margin-bottom: -200px;
  margin-top: -300px;
}

.titre{
  text-align: center;
  color:darkred;


}
.terrainbis{
  margin-bottom: -60px;

}
.titre1{
  text-align: center;
  margin-bottom: 50px;
}
.titre2{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.titre3{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.logohistoire {
  width: 200px;
  height: 200px;
}
.equipe{
  width: 120vh;

}
.logoclub{
  margin-top: 20px;
  width: 100px;
  height: 100px;
}

.relat{
  position:relative;
}

.legende{
  font-size:0.7rem;
  position:absolute;
  bottom: 5%;
  left: 18%;

}