/*************
*
*  le club css
*
/************/


@import url('https://fonts.googleapis.com/css?family=Roboto');

.accueilClub{
  display: none;
}

.fondTerrain{
  background-color: #6C0118;
  color: white;
  margin-bottom: 100px;

}
.terrainimage{
  transform: rotate(90deg);
  width: 120vh;
  margin-bottom: -200px;
  margin-top: -300px;
}
.titre{
  text-align: center;
  color:darkred;

}
.terrainbis{
  margin-top: 100px;
  margin-bottom: -50px;

}
.titre1{
  text-align: center;
  margin-bottom: 50px;
}
.titre2{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.titre3{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.logohistoire {
  width: 200px;
  height: 200px;
  margin-top: -30px;
  margin-bottom: 50px;
}
.equipe{
  height: 800px;
  margin-bottom: 200px;
}

.relat{
  position:relative;
}

.legende{
  font-size:0.7rem;
  position:absolute;
  bottom: 5%;
  left: 18%;
}
.fondHistoire{
  background-color: #051937;
  color: white;


}
.fondBureau{
  background-color: #6C0118;
  color: white;
}

.fondEquipe{
  background-color: #051937;
  color: white;

}
@media screen and (max-width: 768px){


  .btnEasy{
    display: none;
  }

  .avantFooter{
    width: 400px;
  }
  .equipe{
    width: 600px;
    height: 400px;
  }
  .accueilClub{
    display: flex;
    margin-left: 300px;
    margin-top: -50px;
    color: darkred;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    font-family: 'Rakkas', cursive;
  }
  .president{
    margin-left: 230px;
  }

}
@media screen and (max-width: 425px){


  .avantFooter{
    width: 300px;
  }
  .accueilClub {
    display: flex;
    margin-left: 150px;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    font-family: 'Rakkas', cursive;
  }
  .president{
    margin-left: 70px;
  }
  .equipe{
    width: 300px;
    height: 200px;
  }
}
@media screen and (max-width: 375px){

  .president{
    margin-left: 50px;
  }
  .accueilClub {
    display: flex;
    margin-left: 100px;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    font-family: 'Rakkas', cursive;
  }





}
