body,*{
    margin: 0;
    padding: 0;

}

.formimg{
    background-color: #66dd66;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title1{
    color: white;
    font-size: 20px;
}
.bouton{
    border: 1px solid black;
}