@charset "UTF-8";
/*************
*
*  le club css
*
/************/
@import url("https://fonts.googleapis.com/css?family=Roboto");
.accueilClub {
  display: none; }

.fondTerrain {
  background-color: #6C0118;
  color: white;
  margin-bottom: 100px; }

.terrainimage {
  transform: rotate(90deg);
  width: 120vh;
  margin-bottom: -200px;
  margin-top: -300px; }

.titre {
  text-align: center;
  color: darkred; }

.terrainbis {
  margin-top: 100px;
  margin-bottom: -50px; }

.titre1 {
  text-align: center;
  margin-bottom: 50px; }

.titre2 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px; }

.titre3 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px; }

.logohistoire {
  width: 200px;
  height: 200px;
  margin-top: -30px;
  margin-bottom: 50px; }

.equipe {
  height: 800px;
  margin-bottom: 200px; }

.relat {
  position: relative; }

.legende {
  font-size: 0.7rem;
  position: absolute;
  bottom: 5%;
  left: 18%; }

.fondHistoire {
  background-color: #051937;
  color: white; }

.fondBureau {
  background-color: #6C0118;
  color: white; }

.fondEquipe {
  background-color: #051937;
  color: white; }

@media screen and (max-width: 768px) {
  .btnEasy {
    display: none; }

  .avantFooter {
    width: 400px; }

  .equipe {
    width: 600px;
    height: 400px; }

  .accueilClub {
    display: flex;
    margin-left: 300px;
    margin-top: -50px;
    color: darkred;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    font-family: 'Rakkas', cursive; }

  .president {
    margin-left: 230px; } }
@media screen and (max-width: 425px) {
  .avantFooter {
    width: 300px; }

  .accueilClub {
    display: flex;
    margin-left: 150px;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    font-family: 'Rakkas', cursive; }

  .president {
    margin-left: 70px; }

  .equipe {
    width: 300px;
    height: 200px; } }
@media screen and (max-width: 375px) {
  .president {
    margin-left: 50px; }

  .accueilClub {
    display: flex;
    margin-left: 100px;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    font-family: 'Rakkas', cursive; } }
body {
  margin: 0;
  padding: 0; }

.title1 {
  color: white; }

.logoLayout {
  width: 150px;
  height: 150px; }

.forming {
  background-image: linear-gradient(to left, #051937, #27183e, #44103b, #5b042e, #69071a);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px; }

.loginblock {
  margin: 30px;
  color: white; }

.logregister {
  margin: 30px;
  color: white; }

.mdp {
  color: white; }

.menumedia {
  background-color: rgba(255, 255, 255, 0.7); }

.menumedia a {
  color: darkred;
  font-size: 1.5em;
  opacity: 0.5;
  transition: all ease 0.6s; }

.menumedia a:hover {
  color: red;
  font-size: 1.6em;
  text-decoration: none; }

.fondmedia {
  background-image: url("../../images/bordeaux10.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

#slideshow {
  background-color: #F5F5F5;
  border: 1px solid #FFFFFF;
  height: 550px;
  margin-left: 150px;
  position: relative;
  width: 1080px;
  margin-top: 40px;
  margin-bottom: 150px;
  -moz-box-shadow: 0 0 22px #111;
  -webkit-box-shadow: 0 0 22px #111;
  box-shadow: 0 0 22px #111; }

#slideshow ul {
  height: 530px;
  left: -30px;
  list-style: none outside none;
  overflow: hidden;
  position: absolute;
  top: -5px;
  width: 1090px; }

#slideshow li {
  position: absolute;
  display: none;
  z-index: 10;
  margin-left: 10px;
  margin-top: 20px; }

#slideshow li:first-child {
  display: block;
  z-index: 1000; }

#slideshow .slideActive {
  z-index: 1000; }

#slideshow canvas {
  display: none;
  position: absolute;
  z-index: 100; }

#slideshow .arrow {
  height: 86px;
  width: 60px;
  position: absolute;
  background: url("../../images/arrows.png") no-repeat;
  top: 50%;
  margin-top: -43px;
  cursor: pointer;
  z-index: 5000; }

#slideshow .previous {
  background-position: left top;
  left: 0; }

#slideshow .previous:hover {
  background-position: left bottom; }

#slideshow .next {
  background-position: right top;
  right: 0; }

#slideshow .next:hover {
  background-position: right bottom; }

/*************
*
*  Accueil page Gaélique /css
*
/************/
.fond_homepage {
  background-image: url("../../images/Gaa.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.accueilGaelique {
  display: none; }

.menu {
  background-color: rgba(255, 255, 255, 0.7); }

.menu a {
  color: #aa0b0b;
  font-size: 1.5em;
  opacity: 0.5;
  transition: all ease 0.6s; }

.menu a:hover {
  color: red;
  font-size: 1.6em;
  text-decoration: none; }

.logo1 {
  width: 100px;
  height: 100px; }

.bouton {
  width: 300px;
  height: 60px;
  padding: 10px 25px;
  border-radius: 70px;
  background-color: darkred;
  margin: auto;
  text-align: center;
  margin-top: 150px;
  line-height: 30px; }

.bouton a {
  text-decoration: none;
  color: white; }

.bouton a:hover {
  color: white; }

.btnEasy {
  background-color: #051937;
  color: white; }

.animate {
  animation-duration: 6s;
  animation-name: bounceInDown; }

.accueil {
  margin-left: -900px;
  margin-top: 100px;
  font-size: 20px;
  color: white;
  text-align: center; }

.new {
  background-color: #051937;
  color: white; }

.actuGaelic {
  padding-bottom: 20px; }

.burdigaelaFooter p {
  color: #6C0118;
  margin-left: 20px; }

.reseau {
  width: 50px;
  text-align: center; }

.mention {
  text-align: center; }

.titreNew {
  margin-top: 40px;
  margin-bottom: 40px; }

.avantFooter {
  margin-top: 50px;
  margin-bottom: 60px; }

.follow {
  margin-top: 20px; }

.dismedia {
  display: none; }

.contenuNew {
  width: 250px;
  height: 210px;
  text-align: justify;
  border: 1px solid white;
  overflow: auto; }

@media screen and (max-width: 1024px) {
  .accueil {
    display: block;
    align-items: center;
    margin: 0 auto;
    width: 200px;
    margin-left: 100px; }

  .bouton {
    margin-top: 100px; } }
@media screen and (max-width: 768px) {
  .dismedia {
    display: flex; }

  .dismedia a:hover {
    background-color: brown; }

  .logoDisMedia {
    width: 50px;
    height: 50px; }

  .menu {
    background-color: transparent !important; }

  .menuLink {
    display: none; }

  .logo1 {
    display: none; }

  .btnEasy {
    display: none; }

  .accueil {
    display: none; }

  .bouton {
    margin-top: 320px; }

  .avantFooter {
    width: 400px; }

  .accueilGaelique {
    display: flex;
    margin-left: 350px;
    font-size: 50px;
    color: darkred; } }
@media screen and (max-width: 425px) {
  .dismedia {
    width: 50px; }

  .menu {
    display: none; }

  .bouton {
    margin-top: -10px; }

  .avantFooter {
    width: 300px; }

  .accueilGaelique {
    color: darkred;
    font-weight: bold;
    margin-left: 150px; }

  .accueilPolice {
    display: flex;
    color: orange;
    font-weight: bold;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue; }

  .accueil {
    display: block;
    align-items: center;
    margin: 0 auto;
    width: 200px; } }
@media screen and (max-width: 300px) {
  .dismedia {
    width: 50px; }

  .menu {
    display: none; }

  .accueilGaelique {
    color: darkred;
    margin-left: 50px; } }
/*************
*
*  Partenaire css
*
/************/
.accueilPartenaire {
  display: none; }

.fondPartenaire {
  background-color: #051937;
  color: white; }

.titreConnemara {
  margin-top: 100px;
  margin-bottom: 100px; }

.titreTeam {
  margin-top: 100px;
  margin-bottom: 100px; }

.imgConnemara2 {
  width: 600px;
  height: 360px; }

.imgConnemara3 {
  width: 600px;
  height: 360px; }

.logoMaillot {
  width: 560px;
  height: 560px; }

.logoMaillot1 {
  width: 560px;
  height: 560px; }

.menuMaillot {
  background-color: rgba(255, 255, 255, 0.7);
  margin-bottom: 300px;
  margin-top: 100px; }

.texteConnemara2 {
  width: 1000px;
  height: 310px;
  text-align: justify;
  border: 1px solid white;
  overflow: auto;
  margin-left: -200px; }

.texteConnemara3 {
  width: 850px;
  height: 310px;
  text-align: justify;
  border: 1px solid white;
  overflow: auto;
  margin-right: 100px;
  margin-left: 100px; }

@media screen and (max-width: 768px) {
  .btnEasy {
    display: none; }

  .avantFooter {
    width: 400px; }

  .imgConnemara2 {
    width: 320px;
    height: 200px;
    position: absolute;
    top: 340px;
    left: 250px; }

  .imgConnemara3 {
    width: 320px;
    height: 200px;
    position: absolute;
    right: 200px;
    top: 1150px; }

  .logoMaillot {
    width: 200px;
    height: 200px;
    margin-bottom: 500px;
    margin-right: -100px;
    margin-top: 100px; }

  .logoMaillot1 {
    width: 200px;
    height: 200px;
    margin-top: 400px; }

  .menuMaillot {
    margin-bottom: 100px; }

  .texteConnemara2 {
    margin-top: 300px;
    /* margin-left: -400px; */
    margin-right: 190px;
    margin-bottom: 100px;
    /* right: -200px; */
    width: 1000px; }

  .texteConnemara3 {
    margin-top: 350px;
    margin-right: -200px;
    margin-left: 100px;
    width: 1400px;
    margin-bottom: 100px; }

  .accueilPartenaire {
    display: flex;
    margin-left: 250px;
    margin-top: -100px;
    color: darkred;
    text-align: center;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    font-family: 'Rakkas', cursive; } }
@media screen and (max-width: 425px) {
  .accueilPartenaire {
    margin-left: 50px;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    font-family: 'Rakkas', cursive; }

  .avantFooter {
    width: 300px; }

  .imgConnemara2 {
    margin-left: -200px; }

  .imgConnemara3 {
    margin-right: -150px; }

  .texteConnemara3 {
    margin-right: -70px;
    margin-left: 40px; }

  .texteConnemara2 {
    width: 600px;
    margin-right: 50px;
    margin-left: -150px; } }
@media screen and (max-width: 375px) {
  .imgConnemara3 {
    display: flex;
    margin-top: -50px;
    margin-right: -170px; }

  .texteConnemara3 {
    margin-top: 300px;
    margin-left: 30px; }

  .imgConnemara2 {
    margin-left: -220px; } }
/*************
*
*  Contact css
*
/************/
.accueilContact {
  display: none; }

.fondContact {
  background-image: url("../../images/bordeaux10.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

.fondEntrainement {
  background-color: #6C0118;
  color: white; }

.trouver {
  margin-left: 200px;
  margin-top: 100px;
  padding: 20px; }

.day {
  margin-left: 100px; }

.bgContact {
  width: 100%;
  height: 700px;
  text-align: center;
  background-color: #051937;
  margin-bottom: 200px; }

.infoContact {
  text-align: center;
  color: #B0413E;
  font-size: 30px; }

.labelContactForm {
  color: #B0413E; }

.widgetContactForm {
  height: 30px;
  width: 300px;
  margin-left: 570px; }

.messageContactForm {
  height: 200px;
  width: 300px;
  margin-left: 570px; }

.boutonEnvoyer {
  height: 30px;
  width: 100px;
  border-style: solid;
  border-radius: 5px;
  font-weight: bolder;
  margin-top: 15px;
  line-height: normal;
  border-color: white;
  color: #B0413E; }

.entrainement {
  margin-bottom: 150px; }

.entrainement1 {
  margin-bottom: 100px; }

.imgConnemara1 {
  width: 800px;
  height: 500px; }

.imgConnemara {
  width: 800px;
  height: 500px; }

@media screen and (max-width: 1024px) {
  .widgetContactForm {
    margin-left: 360px; }

  .messageContactForm {
    margin-left: 360px; } }
@media screen and (max-width: 768px) {
  .accueilContact {
    display: flex;
    color: darkred;
    font-weight: bold;
    margin-left: 300px;
    margin-top: -60px;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    font-family: 'Rakkas', cursive; }

  .fondEntrainement {
    margin-top: 100px; }

  .trouver {
    margin-right: 50px;
    margin: 0px; }

  .imgConnemara1 {
    width: 400px;
    height: 300px; }

  .imgConnemara {
    width: 400px;
    height: 300px; }

  .connemaraText1 {
    margin-top: 60px;
    margin-right: 80px; }

  .connemaraText {
    margin-top: 100px; }

  .day {
    margin-right: 60px; }

  .widgetContactForm {
    margin-left: 230px; }

  .messageContactForm {
    margin-left: 230px; } }
@media screen and (max-width: 425px) {
  .accueilContact {
    display: flex;
    color: darkred;
    margin-left: 120px;
    margin-top: -100px;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    font-family: 'Rakkas', cursive; }

  .widgetContactForm {
    margin-left: 70px; }

  .messageContactForm {
    margin-left: 70px; }

  .connemaraText1 {
    margin-top: 200px;
    margin-left: -250px; }

  .imgConnemara1 {
    width: 400px;
    height: 200px;
    margin-left: -24px; }

  .imgConnemara {
    width: 400px;
    height: 200px;
    margin-left: -255px; }

  .connemaraText {
    margin-top: 190px;
    margin-left: 120px; } }
@media screen and (max-width: 425px) {
  .widgetContactForm {
    margin-left: 40px; }

  .messageContactForm {
    margin-left: 40px; }

  .connemaraText1 {
    margin-top: 200px;
    margin-left: -210px; }

  .imgConnemara1 {
    width: 300px;
    height: 200px;
    margin-left: -5px; }

  .imgConnemara {
    width: 300px;
    height: 200px;
    margin-left: -220px; }

  .connemaraText {
    margin-top: 190px;
    margin-left: 120px; } }
@-webkit-keyframes bounceInDown {
  from,
    60%,
    75%,
    90%,
    to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0); }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0); }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes bounceInDown {
  from,
    60%,
    75%,
    90%,
    to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0); }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0); }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.animate .bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown; }

.logoFootballGaelic {
  width: 100px;
  height: 100px; }

.titreFootballGaelic {
  text-align: center;
  background: -webkit-linear-gradient(#09295b, #3e245d, #611754, #7b0541, #890c27);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 50px;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
  font-family: 'Rakkas', cursive; }

.regle {
  background-color: #051937;
  color: white; }

.arbitre {
  margin-bottom: 200px; }

/*************
*
*  BASE css
*
/************/
.fond {
  background-image: url("../../images/bordeaux10.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh; }

.menu {
  background-color: rgba(255, 255, 255, 0.7);
  height: 15vh; }

.menu a {
  color: #aa0b0b;
  font-size: 1.5em;
  opacity: 0.5;
  transition: all ease 0.6s; }

.menu a:hover {
  color: red;
  font-size: 1.6em;
  text-decoration: none; }

.btn {
  background-color: #051937;
  color: white; }

.burdigaelaFooter {
  background-image: url("../../images/footer2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  line-height: 20px; }

@media screen and (max-width: 600px) {
  .dismedia {
    display: flex; }

  .dismedia a:hover {
    background-color: brown; }

  .logoDisMedia {
    width: 50px;
    height: 50px; }

  .menu {
    background-color: transparent !important; }

  .menuLink {
    display: none; }

  .logo1 {
    display: none; }

  .btnEasy {
    display: none; }

  .avantFooter {
    width: 400px; } }
@media screen and (max-width: 400px) {
  .dismedia {
    width: 50px; }

  .menu {
    display: none; }

  .avantFooter {
    width: 300px; } }
@media screen and (max-width: 300px) {
  .dismedia {
    width: 50px; }

  .menu {
    display: none; } }

/*# sourceMappingURL=main.css.map */
