body{
    background-image: url("../../images/bordeaux12.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:100vh
}
.menu{
    background-color: rgba(255, 255, 255, 0.7);
}

.menu a {
    color:darkred;
    font-size: 2em;
    opacity: 0.5;
}

.menu a:hover {
    color:red;
    font-size: 2em;
    text-decoration: none;
}

.bouton{
    width:300px;
    padding: 10px 25px;
    border-radius: 50px;
    background-color: darkred;
    margin:0 auto;
    text-align: center;
}

.accueil{
    height:80vh;
}